

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

@import "tailwindcss";


html, body {
  font-family: 'Roboto', 'Poppins', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  
  /* Background image */
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
